@font-face {
    font-family: GloberBold;
    src: url("fonts/Glober Bold.otf") format("opentype");
}

@font-face {
    font-family: Firenight;
    src: url(fonts/Firenight-Regular.otf) format("opentype");
}

#main {
    /*background-image: url("images/background.png");*/
    background: transparent;
    height: 100%;
    text-align: center;
}

#previousPriceSpan {
    color: #fbae17;
    text-decoration: line-through;
}

span.sale {
    color: #9fc44e;
}

div.big {
    font-size: 30px;
}

* {
    font-family: GloberBold, "Arial Black", sans-serif;
    color: #4e552f;
}

h1 {
    font-size: 32px;
}

label {
    font-size: 20px;
}

input {
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="submit"] {
    border: solid white 5px;
    background-color: #9fc44e;
    color: white;
    font-family: Firenight, Impact, sans-serif;
    font-size: 32px;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: #fbae17;
}