@font-face {
    font-family: GloberBold;
    src: url("fonts/Glober Bold.otf") format("opentype");
}

@font-face {
    font-family: Firenight;
    src: url(fonts/Firenight-Regular.otf) format("opentype");
}

#main {
    /*background-image: url("images/background.png");*/
    background: transparent;
    height: 100%;
}

* {
    font-family: GloberBold, "Arial Black", sans-serif;
    color: #4e552f;
    margin-top: 6px;
    margin-bottom: 6px;
}

input[type="submit"] {
    border: solid white 5px;
    background-color: #9fc44e;
    color: white;
    font-family: Firenight, Impact, sans-serif;
    font-size: 32px;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: #fbae17;
}